* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic-webfont.woff') format('woff');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.movie-search {
    width: 25%;
    margin: 0 auto;
}
.result {
    width: 25%;
    margin: 0 auto;
    margin-top: 10px;
}

.title {
    padding-bottom: 10px;
}

.movieframe {
    width: 500px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 0px 0px #ccc;
    background-color: #000;
    margin-bottom: 5px;
}

.movieframe img {
    height: 250px;
    width: 100%;
}

.movie_left_image {
    width: 40%;
    float: left;
}

.movie_right_info {
    float: left;
    color: red;
    font-size: 20px;
    width: 55%;
    margin-left: 20px;
    font-weight: bold;
}

.rating {
    float: right;
}

.remove button {
    min-width: 100%;
    color: white;
    bottom: 0px;
    margin-top: 80px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #758ca6;
    height: 30px;
}

#search {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #758ca6;
    height: 30px;
    width: 40%;
}
#movie-name {
    height: 30px;
    border-radius: 5px;
    width: 50%;
}

.empty {
    color: #000 !important;
    margin-top: 80px;
    background-color: #f1f1f1 !important;
}

.full_yellow {
    color: #fff !important;
    background-color: #ebba32 !important;
    font-size: 15px;
    padding-left: 2px;
}

.full_green {
    color: #fff !important;
    background-color: green !important;
    font-size: 15px;
    padding-left: 2px;
}

.full_red {
    color: #fff !important;
    background-color: red !important;
    font-size: 15px;
    padding-left: 2px;
}
